/* *******************  css edit  ******************  */

select {
    font-family: FontAwesome, Ionicons, sans-serif;
}

.old_price {
    color: #9c9b9b;
    text-decoration: line-through;
}

/* header */
.drawer-header {
    padding: 18px 24px 2px;
}

.drawer-header .logo1 {
    font-size: 34px;
    font-weight: bold;
    color: #222;
}

.drawer-header .logo2 {
    font-size: 22px;
    font-weight: bold;
    color: #ff4136;
}

.notification-badge {
    font-size: 12px;
    padding: 2px 5px;
    line-height: 15px;
    top: 33% !important;
    right: 6px !important;
}

.notification-dropdown {
    padding: 0;
    max-height: 411px;
    width: 384px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notification-dropdown > li.notification {
    width: 100%;
}

.notification-dropdown > li.divider {
    margin: 0 auto;
    width: 89%;
}

.notification-dropdown > li.notification a {
    padding: 9px 18px;
    width: 100%;
}

.notification-dropdown > li.unread a {
    background-color: #f5f5f5;
}

.notification-dropdown > li a:hover {
    background-color: #fafafa;
}

.notification-dropdown > li.notification span {
    display: block;
    width: 100%;
}

.notification-dropdown > li.notification span.title {
    font-weight: 550;
    text-transform: capitalize;
}

.notification-dropdown > li.notification span.description,
.notification-dropdown > li.notification span.date {
    color: #888;
    padding-left: 4px;
}
.notification-dropdown > li.notification span.description { font-size: 14px; }
.notification-dropdown > li.notification span.date { font-size: 12px; }

.dropdown-header a {
    color: #666 !important;
    padding: 2px 0 !important;
    text-transform: capitalize !important;
}
.dropdown-header a:hover { color: #000 !important }

.my-profile-dropdown {
    padding: 0;
    width: 160px !important;
    margin-top: 6px !important;
    right: 12px !important;
}

.my-profile-dropdown li > a,
.my-profile-dropdown li > button{
    background: none;
    border:none;
    display: block;
    padding: 9px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    width: 100%;
    text-align: left;
}

.my-profile-dropdown li:hover > a,
.my-profile-dropdown li:hover > button{
    color: #262626;
    background-color: #f9f9f9;
    padding-left:25px;
    transition: all 0.3s linear;
}

/*  validation  */
.msg-error {
    color: #d9534f;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 5px;
}

.input-error,
.input-error:hover,
.input-error:focus {
    border-color: #d9534f;
}

/*  modal   */
.modal-card-header {
    border-bottom: 1px solid #eee;
    padding: 0 24px 10px;
    width: 100%;
}


/************************************/
/*  *******  verify page   *******  */
/***********************************/
.verify_after_register {
    padding: 58px 8px;
    align-items: center;
}

.verify_after_register .register_success_icon,
.verify_after_register .register_error_icon {
    font-size: 42px;
}
.verify_after_register .register_success_icon { color: #38bf56; }
.verify_after_register .register_error_icon { color: #d82118; }

.verify_after_register .register_success_content {
    font-size: 26px;
    margin-bottom: 44px;
}

.verify_after_register .register_success_links a,
.verify_after_register .register_success_links button {
    background: none;
    border: none;
    color: #ff4136;
    font-size: 14px;
    margin: 0 8px;
    text-decoration: underline;
}


/************************************/
/*  *******  items list   *******  */
/**********************************/

.js-dataTable-simple {
    font-size: 14px;
}

.js-dataTable-simple .status {
    cursor: text;
    font-size: 13px;
    padding: 3px 7px;
}

.table .btn-group .btn {
    font-size: 16px;
    padding: 4px 8px;
}
.table .btn-group .btn:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

/*************************************/
/*  ******   product page   ******  */
/***********************************/
.product_images .prod_image {
    position: relative;
}
.product-video-overlay {
    background-color: #444;
    height: 230px;
    width: 89%;
    position: absolute;
    top: 0;
    opacity: 0.1;
}
.product-video-overlay:hover {
    opacity: 0.4;
}
.product-video {
    top: 74px;
    left: 124px;
    position: absolute;
    content: "";
    z-index: 9;
}
.product-video a {
    color: #fff;
    font-size: 44px;
    display: inline-block;
}
.product-video a i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.product_page .product_info h2,
.product_page .product_info .cel1,
.product_page .product_info .price,
.product_page .product_description h2 {
    font-weight: 500;
}
.product_page .mini_description {
    height: 98px;
    overflow: hidden;
}

.product_page .product_info .price {
    color: #ff4136;
}

/*************************************/
/*  ******   profile page   ******  */
/***********************************/
.edit_profile_image,
.edit_banner_image {
    position: relative;
}
.edit_banner_image {
    border: 1px solid #f3f3f3;
    height: 160px;
}

.edit_profile_image img {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.edit_banner_image img {
    width: 100%;
    height: 100%;
}

.edit_profile_image .image_label,
.edit_banner_image .image_label {
    color: #888;
    font-size: 16px;
    position: absolute;
}
.edit_profile_image .image_label{
    top: 104px;
    left: 106px;
}
.edit_banner_image .image_label{
    top: 140px;
    right: 0;
}

.edit_profile_image .image_label:hover,
.edit_banner_image .image_label:hover {
    color: #444;
}

.edit_profile_image .image_input,
.edit_banner_image .image_input {
    display: none;
}

.order__detailes .order__header table {
    width: 100%;
}
.order__detailes .order__header table td {
    font-weight: 400;
    padding: 3px 8px;
}

.profile-notifications-list {
    display: block;
    padding: 0;
    list-style: none;
    max-height: 1559px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-notifications-list li.notification a {
    color: #333;
    display: inline-block;
    font-size: 18px;
    padding: 16px 26px;
    width: 100%;
}

.profile-notifications-list > li.divider {
    background-color: #ddd;
    height: 1px;
    margin: 0 auto;
    width: 90%;
}

.profile-notifications-list > li.unread a {
    background-color: #f5f5f5;
}

.profile-notifications-list > li a:hover {
    background-color: #fafafa;
}

.profile-notifications-list > li.notification span.data,
.profile-notifications-list > li.notification span.date {
    display: block;
    width: 100%;
}

.profile-notifications-list > li.notification span.title {
    font-weight: 550;
    text-transform: capitalize;
}

.profile-notifications-list > li.notification span.description,
.profile-notifications-list > li.notification span.date {
    color: #888;
    padding-left: 4px;
}
.profile-notifications-list > li.notification span.date { font-size: 12px; }